
@import "css3.less";

body {
    padding: 0;
    margin: 0;
    background-color: #0C1021;
    font-family: monospace;
    font-size: 100%;
    line-height: 1.6em;
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    padding: 2em 0;
    background: #08F;
}

header h1 {
    padding: 0;
    margin: 0 0 0 1em;
    font-size: 3em;
    font-family: georgia,garamond,serif;
    font-weight: normal;
}

section {
    float: left;
    font-size: 1em;
    margin-top: 5em;
    padding: 0.4em 0;
}

section h1 {
    font-size: 1.8em;
    padding: 1em;
}

section.less {

}

.generator {
    padding-left: 2em;
    text-decoration: underline;
    cursor: pointer;
}

.generator:hover {
    text-decoration: none;
}

section.css3 {
    display: none;
}

.code-block {
    color: #8DA6CE;
    padding: 0 2em;
}

.code-block pre {
    font-size: 0.8em;
}

.code-block b {
    display: inline-block;
    border-bottom: 1px dotted #999;
}